.footer__copyright {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.footer {
  display: flex;
  margin: 70px auto 40px;
  padding: 0 55px 0;
}
