.button-table {
  width: 220px;
  height: 56px;
  border: none;
  border-radius: 12px;
  background: white;
  color: black;
  border: 2px solid #38a43a;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.button-table:hover {
  color: #fff;
  background: linear-gradient(90deg, #38a43a 0%, #00b7ea 100%);
  cursor: pointer;
}
