@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");
@import url("../src/components/Header/header.css");
@import url("../src/components/Header/Dropdown/dropdown.css");
:root {
    font-family: "DIN pro", sans-serif;
    color-scheme: light dark;
    background-color: #ffffff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}